body{
    background: black;
}

#mainbody{
    margin-left: 40%;
    margin-top:2px;
    background: linear-gradient(#16b3b4,#103880);
    width:230px;
    height: 400px;
    border: solid 2px;
    border-radius: 10;
}

#screen{
    width: 85px;
    height: 41px;
    border-width: 5px;
    margin-left: 18px;
    margin-top: 13px;
    border-color: yellow;
    border-radius: 8px;
    font-size: xx-large;
    font-family: sans-serif;
    pointer-events: none;
}
.but{
    width: 248px;
    height: 334px;
    margin-left: 1px;
}
button{
    width: 37px;
    height: 45px;
    margin-top: 15px;
    background: linear-gradient( #16b3b4,#103880);
    margin-left: 16px;
    border: solid yellow;
    border-radius: 34px;
    font-size: 24px;
    font-weight: 600;
    font-family:sans-serif;

}
button:hover{
    cursor: pointer;
    background: linear-gradient(#20dddd,#1a56c5);
}